body {
   width: 100%;
   height: 100vh;
  background: ;
  /* background: linear-gradient(
    to bottom,
    #4a0404 0%,
    #4a0404 50%,
    #fff 50%,
    #fff 100%
) */
   background-color: #cccccc;
}

